__pycache__/
build/
.waf-1.8.12-f00e5b53f6bbeab1384a38c9cc5d51f7/
.waf3-1.8.12-f00e5b53f6bbeab1384a38c9cc5d51f7/
scratch/fastAssociation/.ipynb_checkpoints/
scratch/fastAssociation/tensorboard/
.lock-waf_linux2_build
*.o
*.lock-waf_linux_build
*.pcap
*.tr
*.txt
*.dat
*.flowmon
*.pyc
*.pdf
*.img
*.h5
stats-dump
stats-restore
dump-core.sh
trainer.sh
fa_config/
!utilities/**/*.dat
!utilities/**/*.h5
